@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    font-family: Sora, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background-color: #213547;
    color: white;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    min-height: 45px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    color: #9f9f9f;
    background-color: #e3e3e3;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .1rem;
    width: 100%;
    margin-bottom: 1rem;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input, select, textarea {
    font-family: inherit;
    font-size: 16px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    min-height: 50px;
    padding-inline: 1rem;
    width: 100%;
}

select {
    background-color: white;
}

textarea {
    padding-top: .5rem;
}

